.main-page{
    background: #fff;
}
.title{
  background: #fff;
  color: #484d55;
  margin-left: 40%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-size: 0.9em;
  width: 25em;
  height: 3.25em;
  line-height: 3.25em;
}
input{
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #eee;
    box-shadow: inset 0 0 1px 0 #a0a1a7;
    border-radius: .35em;
    margin-left: 42%;
    width: 10%;
    padding: .75em 1em;
}
#coin{
    padding-bottom: 7em;
}
img{
    position: relative;
}   

.coin-container{
    margin-left: 15%;   
}
.border{
    display: flex;
    margin: 16px 0;
    margin-left: 10px;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgba(0,0,0,.06);  
}
.txt{
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
}